body 
{
  background: linear-gradient(to bottom, #FFCC66, #FF9900);
  margin: 0;
  padding: 0;
  height: 90vh;
}

*{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: Helvetica;
}

.navbar {
  overflow: hidden;
  background-color: black;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 3rem;
  z-index: ±2147483647;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 7.2% 15px 8.6%;   
  z-index: ±2147483647;
}

.navbar a:hover {
  background: #FF9900;
  color: black;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

.navbar a.active {
  background-color: #04AA6D;
  color: white;
}

.name{
  margin-top: 15px;
  margin-left: 10%;
  padding: 3rem;
  height: 10rem;
  width: 80%;
  text-align: center;
  background-color: white;
  border-radius: 60px;
  border-bottom: 1.5px solid red;
}
.name h1{
  color: #FFCC66;
  letter-spacing: 5px;
  text-shadow: 2px 4px 5px black;
}
.phone
{
  margin-top: 20px;
  height: 10%;
  width: 20%;
  border-radius: 100%;
  margin-left: 40%;
  background: white;
  padding: 18px;
  text-align: center;
  border-bottom: 2px solid red;
}
.phone a
{
  font-size: x-large;
  color: black;
}
.main-co
{
  
}
.photo
{
  margin: 23px;
  float: left;
  height: 9rem;
  width: 38%;
  background: white;
  border-radius: 15px;
  box-shadow: 4px 3px 15px black;
  overflow: hidden;
  padding-left: 15px;
}

.bottom
{
  margin-bottom: ;
  height: 200px;
  width: 100%;
  background: ;
}